<section ng-controller="popCtrl as $ctrl">
  <div>
    <button type="button" uex-pop-container uex-pop-target>
      Go1
      <uex-pop delegate="$ctrl.p1" on="click" placement="bottom" align="center">
        <div>This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 This is 1 </div>
        <div>This is 2</div>
        <div>This is 2</div>
        <div>This is 2</div>
        <h1>This is 2</h1>
        <div>This is 2</div>
        <div>This is 2</div>
        <h1>This is 2</h1>
        <div>This is 2</div>
        <div>This is 2</div>
      </uex-pop>
    </button>
    <button type="button" uex-pop-container uex-pop-target>
      Go2
      <uex-pop placement="right" align="start" classes="pop-menu">
        <ul style="list-style:none">
          <li>Something 1</li>
          <li>Something 2</li>
          <li>Something 3</li>
          <li>Something 4</li>
          <li>Something 5</li>
        </ul>
      </uex-pop>
    </button>
    <h1>foo</h1><h1>foo</h1><h1>foo</h1><h1>foo</h1><h1>foo</h1><h1>foo</h1><h1>foo</h1><h1>foo</h1><h1>foo</h1><h1>foo</h1><h1>foo</h1><h1>foo</h1>
  </div>
</section>
