<section ng-controller="popCtrl as $ctrl">
  <div>
    <button type="button" uex-pop-container uex-pop-target>
      Pop 1
      <uex-pop delegate="$ctrl.p1" on="click" placement="bottom" align="center">
        <div>foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo
        </div>
        <div>foo</div>
        <div>foo</div>
        <div>foo</div>
        <h1>foo</h1>
        <div>foo</div>
        <div>foo</div>
        <h1>foo</h1>
        <h2>foo</h2>
        <div>foo</div>
      </uex-pop>
    </button>
    <button type="button" uex-pop-container uex-pop-target>
      Pop 2
      <uex-pop placement="right" align="start" class="pop-menu">
        <ul style="list-style:none">
          <li>Something 1</li>
          <li>Something 2</li>
          <li>Something 3</li>
          <li>Something 4</li>
          <li>Something 5</li>
        </ul>
      </uex-pop>
    </button>
    <h1 ng-repeat="v in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]">
      <div style="display:inline-block;cursor:pointer" uex-pop-container uex-pop-target>
        foo {{v}}
        <uex-pop placement="right" align="center" class="pop-menu-item">
          <ul class="pop-menu">
            <li>Something 1</li>
            <li>Something 2</li>
            <li>Something 3</li>
            <li>Something 4</li>
            <li>
              <a class="plain" ng-click="$ctrl.delete(v);$pop.dismiss()">Delete - {{v}}</a>
            </li>
          </ul>
        </uex-pop>
      </div>
    </h1>
  </div>
</section>
