// colors
$brand-primary: #3F51B5 !default;
$color-background: #f5f5f5 !default;
$color-border: rgba(0,0,0,.15) !default;
$color-border-focus: rgba(0,0,0,.3) !default;
$gray-light: #888 !default;

// breakpoints
$layout-bp-xs: 600px !default;
$layout-bp-sm: 960px !default;
$layout-bp-md: 1280px !default;
$layout-bp-lg: 1920px !default;

// sizes
$icon-size: rem(2.000) !default;
