<section id="demo-poptip-page">
  <div uex-poptip-container uex-poptip-target>
    poptip right
    <uex-poptip placement="right" align="center">
      A collection of <strong>angular</strong> components.
    </uex-poptip>
  </div>
  <div uex-poptip-container uex-poptip-target style="float:right;margin-right:15px">
    poptip bottom
    <uex-poptip placement="bottom" align="center" class="poptip-c1">
      A collection of <strong>angular</strong> components.
    </uex-poptip>
  </div>
  <div uex-poptip-container uex-poptip-target>
    poptip left
    <uex-poptip placement="left" align="start" class="poptip-c2">
      A collection of <strong>angular</strong> components.
    </uex-poptip>
  </div>
  <div uex-poptip-container uex-poptip-target>
    poptip top
    <uex-poptip placement="top" align="end">
      A collection of <strong>angular</strong> components.
    </uex-poptip>
  </div>
  <a ui-sref="components" uex-poptip-container uex-poptip-target>
    Some
    <uex-poptip>
      A collection of components
    </uex-poptip>
  </a>
</section>
