<section id="demo-poptip-page">
  <header>Basic</header>
  <div uex-poptip-container uex-poptip-target>
    poptip right
    <uex-poptip placement="right center" class="poptip-noanimate">
      A collection of <strong>angular</strong> components.
    </uex-poptip>
  </div>
  <div uex-poptip-container uex-poptip-target style="float:right;margin-right:15px">
    poptip bottom
    <uex-poptip placement="bottom center" class="poptip-c1">
      A collection of <strong>angular</strong> components.
    </uex-poptip>
  </div>
  <div uex-poptip-container uex-poptip-target>
    poptip left
    <uex-poptip placement="left start" class="poptip-c2">
      A collection of <strong>angular</strong> components.
    </uex-poptip>
  </div>
  <div uex-poptip-container uex-poptip-target>
    poptip top
    <uex-poptip placement="top end">
      A collection of <strong>angular</strong> components.
    </uex-poptip>
  </div>
  <a ui-sref="home" uex-poptip-container uex-poptip-target>
    Some
    <uex-poptip>
      A collection of components
    </uex-poptip>
  </a>
</section>

<section>
  <header>Inputs</header>
  <div uex-poptip-container>
    <input type="text" name="name" autocomplete="off" ng-model="$root.$$someValue" uex-poptip-target>
    <uex-poptip trigger="focus" placement="right" class="{{$root.$$someValue}}">Only a tip!</uex-poptip>
  </div>
</section>
