<div class="component-p-page" ng-controller="pCtrl as vm">
  <section>
    <header>Basic</header>
    <form uex-p="submit1()">
      <div uex-p-running>
        Running...
      </div>
      <div class="form-group">
        <input type="submit" name="name" value="Submit" ng-disabled="$p.$running">
      </div>
    </form>
  </section>
  <section>
    <header>Options</header>
    <form uex-p="submit2()" uex-p-opts="{ successInterval: 2000, errorInterval: 1000 }">
      <div uex-p-running>
        Running...
      </div>
      <div uex-p-success>
        Success!!
      </div>
      <div uex-p-error>
        Error!!
      </div>
      <uex-p-status success="Success!!"></uex-p-status>
      <div class="form-group">
        <input type="checkbox" name="cb" ng-model="vm.shouldError"> Should error
      </div>
      <div class="form-group">
        <input type="submit" name="name" value="Submit" uex-p-btn>
      </div>
    </form>
  </section>
  <section>
    <header>uex-p-btn with one time</header>
    <form uex-p="submit3()">
      <div uex-p-running>
        Running...
      </div>
      <div uex-p-success>
        Success!!
      </div>
      <div uex-p-error>
        Error!!
      </div>
      <div class="form-group">
        <input type="checkbox" name="cb" ng-model="vm.shouldError2"> Should error
      </div>
      <div class="form-group">
        <input type="submit" name="name" value="Submit" uex-p-btn="onetime">
      </div>
    </form>
  </section>
</div>
