uex-select {
  display: inline-block;
}

.uex-select {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  > .button {
    outline: none;
    background: none;
    border: 1px solid $color-border;
    padding: 5px;
    cursor: pointer;

    > uex-icon {
      margin-right: 2px;
    }

    &:hover {
      border-color: $brand-primary;
    }

    &:active {
      background-color: $color-background;
    }
  }

  &.opened {
    > .button {
      border-color: $brand-primary;
    }
  }
}

.uex-pop.uex-select-pop {
  .uex-pop-content {
    padding: 0;
    width: 200px;
    display: flex;
    flex-flow: column nowrap;

    > header {
      background-color: $color-background;
      border-bottom: 1px solid $color-border;
      position: relative;

      > .header-text {
        font-size: 16px;
        padding: 5px 10px;
        overflow: hidden;
      }

      > .close-btn {
        float: right;
        margin-top: 5px;
        margin-right: 5px;
      }
    }

    > div {
      overflow-y: auto;
    }

    ul.options {
      max-height: 350px;
      overflow-y: auto;
      margin: 0;
      list-style: none;
      padding: 0;

      li {
        padding: 5px 10px;
        cursor: pointer;

        .icon {
          width: 20px;
        }

        &:hover {
          background-color: $brand-primary;
          color: white;
        }
      }

      li:not(:last-of-type) {
        border-bottom: 1px solid $color-border;
      }
    }
  }

  uex-select-simple {
    display: flex;

    > .uex-select-simple-content {
      flex: 1;
    }

    > uex-icon {
      align-self: center;
    }
  }
}
