$icon-size: 16px;

uex-icon {
  display: inline-block;
  fill: currentColor;
  height: $icon-size;
  width: $icon-size;
  vertical-align: text-bottom;

  > svg {
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.uex-flexible-wrapper > uex-icon,
uex-icon[flexible] {
  height: initial;
  width: initial;

  > svg {
    height: 1em;
    width: 1em;
  }
}

.uex-flexible-wrapper {
  display: flex;
  align-items: center;
}
