uex-icon {
  display: inline-block;
  fill: currentColor;
  /*vertical-align: middle;*/
  height: $icon-size;
  width: $icon-size;

  > svg {
    pointer-events: none;
    display: block;
    height: $icon-size;
    width: $icon-size;
    /*height: 1em;
    width: 1em;*/
  }
}

.uex-flexible-wrapper > uex-icon,
uex-icon[flexible] {
  height: initial;
  width: initial;

  > svg {
    height: 1em;
    width: 1em;
  }
}

.uex-flexible-wrapper {
  display: flex;
  align-items: center;
}
