
<div>
  <section>
    <header>Basic</header>
    <uex-select exp="item in $ctrl.items as item.name" ng-model="$ctrl.selected1" text="Selected" header="Select by" class="select-check">
      {{item.name}}
      <uex-icon icon="check" ng-if="$selected"></uex-icon>
    </uex-select>
  </section>

  <section>
    <header>Simple select</header>
    <uex-select exp="itemd in ['Foo', 'Bar', 'Baz', 'Some', 'Test']" ng-model="$ctrl.selected2" text="Selected">
      <uex-select-simple>
        <select-comp-test1 u="itemd"></select-comp-test1>
      </uex-select-simple>
    </uex-select>
  </section>

  <section>
    <header>Not clearable</header>
    <uex-select exp="item in $ctrl.items as item.name" ng-model="$ctrl.selected4" text="Selected" clearable="false">
      <uex-select-simple>{{item.name}}</uex-select-simple>
    </uex-select>
  </section>

  <section ng-if="!$ctrl.loading">
    <header>Simple test</header>
    <uex-select exp="item in $ctrl.items as item.name" ng-model="$ctrl.selected3" text="Selected">
      <uex-select-simple>{{item.name}}</uex-select-simple>
    </uex-select>
  </section>
</div>
