$brand-primary: #3F51B5;

@import "../core/core.scss";
@import "../components/*/demo/**/*.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif !important;
}

#left-nav {
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #f4f4f4;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;

  .pivot-item {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    color: #555;
    opacity: 0.7;
    transition: opacity linear 0.1s;

    &:hover {
      color: $brand-primary;
      opacity: 1;
    }

    &.active {
      color: white;
      opacity: 1;
      background-color: $brand-primary;
    }
  }
}

#main-content {
  margin-left: 200px;
  margin-top: 20px;
  padding: 0 10px;
}

section {
  display: block;
  margin-top: 20px;

  > header {
    font-size: 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font-weight: 300;
  }

  &:first-of-type {
    margin-top: 0;
  }
}

code {
  padding: 3px 5px;
  background: #f5f5f5;
  border: 1px solid #ccc;
  font-size: 120%;
}

.text-thin {
  font-weight: 300;
}
