$uexPAnimationInterval: .1s !default;

.uex-p-status, .uex-p-running, .uex-p-success, .uex-p-error {
  transition: opacity linear $uexPAnimationInterval;

  &.ng-hide {
    opacity: 0;
  }
}

.uex-p-success {
  color: $brand-primary;
}

.uex-p-error {
  color: $brand-danger;
}
