#component-icon-page {
  .icons {
    uex-icon {
      border-radius: 5px;
      cursor: pointer;
      width: 32px;
      height: 32px;

      &:hover {
        background: #f1f1f1;
      }
    }
  }
}
