#component-icon-page {
  .icons {
    uex-icon {
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      width: 30px;
      height: 30px;

      &:hover {
        background: #f1f1f1;
      }
    }
  }
}
