<div id="component-modal-page">
  <section>
    <header>Basic</header>
    <button ng-click="$ctrl.open1()">Modal 1</button>
    <button ng-click="$ctrl.open2()">Modal 2</button>
    <button ng-click="$ctrl.confirm()">Modal Confirm</button>
    <button ng-click="$ctrl.modalConfirm1.open()">Modal Confirm directive</button>
    <button ng-click="$ctrl.info()">Modal Info</button>
    <uex-modal delegate="$ctrl.m" title="Foo title" class="modal-bar">
      Foo
      <div ng-repeat="v in [1,2,3]">
        {{v}}
      </div>
    </uex-modal>
    <uex-modal-confirm delegate="$ctrl.modalConfirm1" title="Confirm modal" class="modal-confirm">
      Are you sure??
    </uex-modal-confirm>
  </section>
  <section>
    <header>Custom</header>
    <button ng-click="$ctrl.c1.open()">Custom 1</button>
    <button ng-click="$ctrl.c2.open()">Custom 2</button>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <h1>foo</h1>
    <uex-modal delegate="$ctrl.c1" title="Custom Modal 1" class="modal-c-1">
      <form onsubmit="console.log('asd'); return false;">
        <input type="submit" value="Submit" />
      </form>
      Foo
      <button type="button" uex-pop-container uex-pop-target>
        GO
        <uex-pop>
          <div>here 1</div>
          <div>here 2</div>
          <div>here 3</div>
          <div>here 4</div>
        </uex-pop>
      </button>
      <button type="button" uex-poptip-container uex-poptip-target>
        GO
        <uex-poptip>
          Here we <strong>go</strong>.
        </uex-poptip>
      </button>
    </uex-modal>
    <uex-modal delegate="$ctrl.c2" title="Custom Modal 2" class="modal-c-2">
      Foo
    </uex-modal>
  </section>
</div>
