<style>
  div[uex-tooltip] {
    display: inline-block;
    margin: 10px;
    border: 1px dashed #3F51B5;
    padding: 10px;
  }
</style>

<div id="content">
  <div uex-tooltip="n, Hello World!">
    Tooltip North
  </div>
  <div uex-tooltip="ne, Hello World!">
    Tooltip North East
  </div>
  <div uex-tooltip="e, Hello World!">
    Tooltip East
  </div>
  <div uex-tooltip="se, Hello World!">
    Tooltip South East
  </div>
  <div uex-tooltip="s, Hello World!">
    Tooltip South
  </div>
  <div uex-tooltip="sw, Hello World!">
    Tooltip South West
  </div>
  <div uex-tooltip="w, Hello World!">
    Tooltip West
  </div>
  <div uex-tooltip="nw, Hello World!">
    Tooltip North West
  </div>
</div>
